* {
  box-sizing: border-box;
}

@font-face {
  font-family: streamster;
  src: url("fonts/Streamster.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  text-align: center;
  /* font-size: 2vw; */
  
}
hr {
  border: 0;
  /* clear:both; */
  /* display:block; */
  width: 50%;               
  background-color:grey;
  height: 1px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#root > header > div > div > div.MuiBox-root.css-1lvtzne {
  color: white;
}
/* Centering Navbar */
.MuiBox-root.css-1t6c9ts {
  justify-content: center;
}
.text-box{
  background-color:#00EAD3;
  color:black
}
.image {
  position: fixed;
  height: 100vh;
}

.layer{
  
  position: absolute;
  /* left:15%;
  top:110% */
 
}
.pfp{
z-index: 30;
height: 22.5vh;
/* opacity: .85 */
}
.pfpbg1{
  z-index: 10;
  height: 23.7vh;
}
.pfpbg2{
  z-index: 5;
  height: 24vh;
}
.pfpbg3{
  z-index: 20;
  height: 23vh;
  border-radius: 50%;
}
.AboutImg{
  position:relative; 
  /* min-height: 50%; */
  justify-content: center;
  align-items: center;
min-width: 400px;

}
.AboutTitle{
  font-family: Streamster;
  font-size:2rem;
  color:#ffdf6b;
  text-shadow: 2px 2px #005F99;

}
.AboutText{
  margin: auto;
  text-align: left;
  font-size:2vh;
  /* max-height: 300px; */
  /* background: rgba(128, 128, 128, 0.031); */
  /* text-shadow: .5px 0px #ffdf6b; */
  /* padding: 0% 15%; */
}
.AboutBox{
  /* width: 50%; */
  text-align: center;
  padding: 3% ;
}
.SocialsBox{
  /* width:50%; */
  text-align: center;
  padding: 3% ;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  height: 100vh;
  background-image: linear-gradient(to right, #0fa , #FF449F);
}

@media only screen and (max-width: 600px) {
  .content span.img-txt {
    /* position: absolute; */
    top: 300px;
    left: 120px;

    text-transform: uppercase;
    color: #ffdf6b;
    padding: 1rem;
    font-size: 1.5rem;

    font-family: Streamster;
  }
}
@media only screen and (min-width: 600px) {
  .content span.img-txt {
    /* position: absolute; */
    top: 300px;
    left: 120px;

    text-transform: uppercase;
    color: #ffdf6b;
    padding: 1rem;
    font-size: 1.5rem;

    font-family: Streamster;
  }
}

@media only screen and (min-width: 768px) {
  .content span.img-txt {
    /* position: absolute; */
    top: 200px;
    left: 10px;

    text-transform: uppercase;
    color: #ffdf6b;
    padding: 1rem;
    font-size: 1.5rem;

    font-family: Streamster;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content span.img-txt {
    position: absolute;
    top: 200px;
    left: 10px;

    text-transform: uppercase;
    color: #ffdf6b;
    padding: 1rem;
    font-size: 1.5rem;

    font-family: Streamster;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content span.img-txt {
    position: absolute;
    top: 200px;
    left: 10px;

    text-transform: uppercase;
    color: #ffdf6b;
    padding: 1rem;
    font-size: 1.5rem;

    font-family: Streamster;
  }
}

.content span.titleName {
  color: #00ead3;
  padding: 1rem;
  font-size: 6rem;
  text-align: center;
  font-family: Neonderthaw;
  
}
.neonTextG {
  animation: flickerG 3s infinite alternate;
  color: #fff;
}

/* Flickering animation */
@keyframes flickerG {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
      
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.neonTextY {
  /* animation: flickerY 3s infinite alternate; */
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ffdf6b,
    0 0 80px #ffdf6b, 0 0 90px #ffdf6b, 0 0 100px #ffdf6b, 0 0 150px #ffdf6b;
    
}

/* Flickering animation */
@keyframes flickerY {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ffdf6b,
      0 0 80px #ffdf6b, 0 0 90px #ffdf6b, 0 0 100px #ffdf6b, 0 0 150px #ffdf6b;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.arrow{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffdf6b;
  border-right: 5px solid #ffdf6b;
  
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
  
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
  
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
      
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


